@import "custom_bootstrap/custom_bootstrap";
.raceContainer{
	max-width: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
	-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 20px;
	.race{
		padding: 20px;

		margin:20px;
		

		.winner{
			color: $f1-red;
    		font-weight: bold;
		}
	}
	.racesTxt{
		text-align: center;
		h1{
			font-weight: bold;
		}
	}
}